.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftBlock {
  display: flex;
  justify-content: space-between;
}

.rightBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: rgb(185, 185, 185);
}
.rightBlock > :hover {
  color: white;
  cursor: pointer;
}

.logo {
}

.sects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  gap: 1rem;
  color: rgb(185, 185, 185);
  font-size: 16px;
  font-family: Arial;
}

.sects > :hover {
  color: white;
  cursor: pointer;
}
